In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pickle

In [2]:
test = pd.read_csv('./data/test_set_all_a4.csv')
test.head()

,id,age,gender,size,breeds.primary,breeds.mixed,attributes.spayed_neutered,attributes.house_trained,contact.address.state,breed_pop,month,cg_adpt_time
0,37587980,Young,Female,Large,Pit Bull Terrier,False,True,True,NC,High,7,> 3 months
1,43998498,Young,Female,Large,Basset Hound,True,True,True,IA,Low,2,1 - 2 weeks
2,41405428,Young,Female,Small,Jack Russell Terrier,True,True,False,MA,Low,4,1 - 2 weeks
3,34892143,Young,Female,Medium,Labrador Retriever,True,True,False,Other,High,7,< 3 months
4,43001651,Adult,Male,Large,German Shepherd Dog,True,True,False,OR,Medium,10,< 1 week

In [8]:
texas_dogs = (test[(test['contact.address.state']=='TX')])
#texas_dogs = (test[(test['contact.address.state']=='TX') & test['cg_adpt_time']=='> 3 months'])
texas_dogs.head()

,id,age,gender,size,breeds.primary,breeds.mixed,attributes.spayed_neutered,attributes.house_trained,contact.address.state,breed_pop,month,cg_adpt_time
34,35015408,Young,Male,Small,Poodle,False,True,False,TX,Medium,5,< 1 month
126,34898057,Young,Female,Medium,Beagle,True,True,True,TX,Medium,5,< 1 month
215,32422840,Young,Female,Medium,Australian Shepherd,False,True,False,TX,Medium,6,1 - 2 weeks
236,35839978,Adult,Female,Medium,Labrador Retriever,True,True,True,TX,High,2,> 3 months
239,34482994,Baby,Female,Medium,Boxer,True,False,False,TX,Medium,3,1 - 2 weeks

In [9]:
rand_texas_dogs = texas_dogs.sample(n=100, random_state=0)

In [10]:
rand_texas_dogs.head()

,id,age,gender,size,breeds.primary,breeds.mixed,attributes.spayed_neutered,attributes.house_trained,contact.address.state,breed_pop,month,cg_adpt_time
90581,31723533,Adult,Female,Large,American Staffordshire Terrier,True,True,True,TX,Medium,4,< 1 month
76432,39657200,Young,Female,Medium,Cocker Spaniel,False,True,False,TX,Low,10,< 1 month
41471,37762233,Adult,Male,Large,Labrador Retriever,True,True,False,TX,High,4,< 1 month
12038,33617466,Adult,Male,Medium,Boxer,False,True,True,TX,Medium,11,< 1 month
92005,43622870,Young,Female,Small,Chihuahua,True,True,False,TX,High,3,< 3 months

In [15]:
X_features = ['age', 'gender', 'size', 'breed_pop',
               'breeds.primary',
              'breeds.mixed',
             'contact.address.state']
rtd_X = rand_texas_dogs[X_features]
rtd_X = rtd_X.reset_index()
rtd_X.head()

,index,age,gender,size,breed_pop,breeds.primary,breeds.mixed,contact.address.state
0,90581,Adult,Female,Large,Medium,American Staffordshire Terrier,True,TX
1,76432,Young,Female,Medium,Low,Cocker Spaniel,False,TX
2,41471,Adult,Male,Large,High,Labrador Retriever,True,TX
3,12038,Adult,Male,Medium,Medium,Boxer,False,TX
4,92005,Young,Female,Small,High,Chihuahua,True,TX

In [17]:
az = ['AZ'] * 100
co = ['CO'] * 100
mn = ['MN'] * 100

In [25]:
import random
random.seed = 0
rand_state = random.choice(['AZ','MN','CO'])
rand_state

'AZ'

In [26]:
rand_state = [random.choice(['AZ','MN','CO']) for i in range(100)]

In [32]:
print('AZ :{}, CO: {}, MN: {}'.format(rand_state.count('AZ'), rand_state.count('CO'), rand_state.count('MN')))

AZ :37, CO: 29, MN: 34

In [27]:
rtd_X['rand_state']=rand_state
rtd_X['state_az']=az
rtd_X['state_co']=co
rtd_X['state_mn']=mn
rtd_X.head()

,index,age,gender,size,breed_pop,breeds.primary,breeds.mixed,contact.address.state,rand_state
0,90581,Adult,Female,Large,Medium,American Staffordshire Terrier,True,TX,CO
1,76432,Young,Female,Medium,Low,Cocker Spaniel,False,TX,AZ
2,41471,Adult,Male,Large,High,Labrador Retriever,True,TX,AZ
3,12038,Adult,Male,Medium,Medium,Boxer,False,TX,AZ
4,92005,Young,Female,Small,High,Chihuahua,True,TX,CO

In [34]:
rtd_X.head()

,index,age,gender,size,breed_pop,breeds.primary,breeds.mixed,contact.address.state,rand_state,state_az,state_co,state_mn
0,90581,Adult,Female,Large,Medium,American Staffordshire Terrier,True,TX,CO,AZ,CO,MN
1,76432,Young,Female,Medium,Low,Cocker Spaniel,False,TX,AZ,AZ,CO,MN
2,41471,Adult,Male,Large,High,Labrador Retriever,True,TX,AZ,AZ,CO,MN
3,12038,Adult,Male,Medium,Medium,Boxer,False,TX,AZ,AZ,CO,MN
4,92005,Young,Female,Small,High,Chihuahua,True,TX,CO,AZ,CO,MN

In [36]:
filename = './models/rfpipe_combined.pkl'
loaded_pipe = pickle.load(open(filename, 'rb'))

In [38]:
rand_times=loaded_pipe.predict(rtd_X.drop(['index','contact.address.state', 'state_az', 'state_co', 'state_mn'], axis=1))

In [45]:
rand_times=rand_times.tolist()

In [40]:
def convert_time(time):
    if time == '< 1 week':
        return 3.5
    elif time == '1 - 2 weeks':
        return 10
    elif time == '< 1 month':
        return 21.5
    elif time == '< 3 months':
        return 59.5
    else:
        return 100

In [47]:
rand_times

['< 3 months',
 '< 3 months',
 '< 3 months',
 '< 1 week',
 '< 1 week',
 '< 1 week',
 '< 3 months',
 '< 3 months',
 '< 3 months',
 '< 3 months',
 '1 - 2 weeks',
 '< 1 week',
 '< 1 month',
 '< 1 week',
 '> 3 months',
 '< 3 months',
 '< 3 months',
 '< 1 month',
 '< 1 week',
 '< 1 week',
 '1 - 2 weeks',
 '< 1 week',
 '1 - 2 weeks',
 '< 3 months',
 '< 1 week',
 '< 3 months',
 '< 3 months',
 '< 3 months',
 '> 3 months',
 '< 1 week',
 '< 3 months',
 '< 1 week',
 '< 1 week',
 '< 3 months',
 '< 1 week',
 '< 3 months',
 '< 3 months',
 '< 3 months',
 '< 1 week',
 '< 1 week',
 '< 1 month',
 '< 1 week',
 '< 3 months',
 '< 1 week',
 '< 1 month',
 '< 3 months',
 '< 3 months',
 '< 3 months',
 '< 1 week',
 '< 1 week',
 '< 3 months',
 '< 1 week',
 '< 3 months',
 '< 3 months',
 '< 3 months',
 '< 1 week',
 '1 - 2 weeks',
 '< 1 week',
 '1 - 2 weeks',
 '< 3 months',
 '< 3 months',
 '< 1 week',
 '> 3 months',
 '< 3 months',
 '< 3 months',
 '< 3 months',
 '< 1 month',
 '< 3 months',
 '< 1 month',
 '< 3 months',
 '< 3 months',
 '< 1 week',
 '< 1 week',
 '1 - 2 weeks',
 '> 3 months',
 '< 1 week',
 '< 3 months',
 '< 3 months',
 '1 - 2 weeks',
 '> 3 months',
 '> 3 months',
 '< 3 months',
 '< 3 months',
 '< 1 week',
 '< 3 months',
 '< 3 months',
 '< 1 week',
 '< 3 months',
 '< 3 months',
 '< 1 week',
 '< 3 months',
 '< 3 months',
 '< 1 week',
 '< 1 week',
 '< 3 months',
 '< 1 week',
 '< 3 months',
 '< 3 months',
 '< 1 week',
 '< 3 months']

In [49]:
rand_times_conv = list(map(lambda x:convert_time(x), rand_times))
rtd_X['adoption_time_rand']=rand_times_conv

In [50]:
az_times=loaded_pipe.predict(rtd_X.drop(['index','contact.address.state', 'rand_state', 'state_co', 
                                         'state_mn', 'adoption_time_rand'], axis=1))
az_times=az_times.tolist()
az_times_conv = list(map(lambda x:convert_time(x), az_times))

In [51]:
co_times=loaded_pipe.predict(rtd_X.drop(['index','contact.address.state', 'rand_state', 'state_az', 
                                         'state_mn', 'adoption_time_rand'], axis=1))
co_times=co_times.tolist()
co_times_conv = list(map(lambda x:convert_time(x), co_times))

In [53]:
mn_times=loaded_pipe.predict(rtd_X.drop(['index','contact.address.state', 'rand_state', 'state_co', 
                                         'state_az', 'adoption_time_rand'], axis=1))
mn_times=mn_times.tolist()
mn_times_conv = list(map(lambda x:convert_time(x), mn_times))

In [61]:
list(zip(az_times_conv, co_times_conv, mn_times_conv))

[(100, 59.5, 59.5),
 (59.5, 21.5, 21.5),
 (59.5, 59.5, 59.5),
 (3.5, 59.5, 59.5),
 (3.5, 3.5, 59.5),
 (3.5, 3.5, 59.5),
 (59.5, 59.5, 59.5),
 (3.5, 3.5, 59.5),
 (3.5, 3.5, 59.5),
 (59.5, 59.5, 59.5),
 (10, 59.5, 59.5),
 (3.5, 3.5, 3.5),
 (10, 3.5, 21.5),
 (3.5, 10, 3.5),
 (3.5, 59.5, 100),
 (59.5, 59.5, 59.5),
 (59.5, 21.5, 59.5),
 (59.5, 21.5, 59.5),
 (59.5, 3.5, 59.5),
 (3.5, 3.5, 59.5),
 (59.5, 10, 3.5),
 (3.5, 21.5, 21.5),
 (3.5, 3.5, 10),
 (59.5, 21.5, 59.5),
 (3.5, 59.5, 21.5),
 (59.5, 59.5, 59.5),
 (59.5, 59.5, 59.5),
 (59.5, 59.5, 59.5),
 (100, 59.5, 59.5),
 (3.5, 21.5, 3.5),
 (59.5, 21.5, 59.5),
 (3.5, 3.5, 3.5),
 (3.5, 3.5, 21.5),
 (3.5, 3.5, 59.5),
 (3.5, 3.5, 59.5),
 (59.5, 59.5, 59.5),
 (59.5, 3.5, 59.5),
 (3.5, 59.5, 59.5),
 (3.5, 3.5, 59.5),
 (3.5, 3.5, 21.5),
 (3.5, 21.5, 21.5),
 (3.5, 3.5, 3.5),
 (59.5, 59.5, 59.5),
 (3.5, 3.5, 21.5),
 (3.5, 21.5, 21.5),
 (59.5, 59.5, 59.5),
 (59.5, 59.5, 59.5),
 (59.5, 59.5, 59.5),
 (10, 3.5, 59.5),
 (3.5, 3.5, 59.5),
 (3.5, 21.5, 59.5),
 (3.5, 10, 3.5),
 (59.5, 59.5, 21.5),
 (59.5, 59.5, 59.5),
 (59.5, 21.5, 59.5),
 (3.5, 3.5, 59.5),
 (59.5, 10, 59.5),
 (59.5, 3.5, 59.5),
 (3.5, 3.5, 10),
 (59.5, 21.5, 59.5),
 (59.5, 59.5, 100),
 (59.5, 3.5, 59.5),
 (59.5, 59.5, 100),
 (59.5, 59.5, 59.5),
 (59.5, 59.5, 59.5),
 (100, 59.5, 59.5),
 (3.5, 3.5, 21.5),
 (59.5, 59.5, 59.5),
 (59.5, 21.5, 59.5),
 (100, 59.5, 59.5),
 (100, 59.5, 100),
 (3.5, 3.5, 21.5),
 (3.5, 3.5, 59.5),
 (21.5, 10, 10),
 (100, 100, 100),
 (3.5, 59.5, 100),
 (10, 3.5, 59.5),
 (3.5, 3.5, 59.5),
 (10, 21.5, 59.5),
 (59.5, 59.5, 100),
 (100, 59.5, 59.5),
 (3.5, 3.5, 59.5),
 (59.5, 59.5, 100),
 (3.5, 3.5, 3.5),
 (59.5, 21.5, 59.5),
 (100, 59.5, 100),
 (3.5, 3.5, 59.5),
 (59.5, 59.5, 59.5),
 (59.5, 3.5, 59.5),
 (59.5, 3.5, 59.5),
 (59.5, 59.5, 21.5),
 (3.5, 21.5, 59.5),
 (3.5, 59.5, 59.5),
 (3.5, 3.5, 59.5),
 (59.5, 59.5, 59.5),
 (3.5, 3.5, 3.5),
 (59.5, 3.5, 59.5),
 (59.5, 3.5, 59.5),
 (3.5, 3.5, 59.5),
 (59.5, 21.5, 59.5)]

In [63]:
min_time = [min(l1, l2, l3) for l1, l2, l3 in zip(az_times_conv, co_times_conv, mn_times_conv)]

In [64]:
rtd_X['adoption_time_min']=min_time
rtd_X.head()

,index,age,gender,size,breed_pop,breeds.primary,breeds.mixed,contact.address.state,rand_state,state_az,state_co,state_mn,adoption_time_rand,adoption_time_min
0,90581,Adult,Female,Large,Medium,American Staffordshire Terrier,True,TX,CO,AZ,CO,MN,59.5,59.5
1,76432,Young,Female,Medium,Low,Cocker Spaniel,False,TX,AZ,AZ,CO,MN,59.5,21.5
2,41471,Adult,Male,Large,High,Labrador Retriever,True,TX,AZ,AZ,CO,MN,59.5,59.5
3,12038,Adult,Male,Medium,Medium,Boxer,False,TX,AZ,AZ,CO,MN,3.5,3.5
4,92005,Young,Female,Small,High,Chihuahua,True,TX,CO,AZ,CO,MN,3.5,3.5

In [67]:
rtd_X['adoption_time_rand'].mean()

37.705

In [68]:
rtd_X['adoption_time_min'].mean()

23.125

In [ ]:
## saves 14 days (40% reduction) in adoption time. cost of keeping a dog at a shelter - 50/mo for food,20/mo for supplies, around 100/mo total
## 100/mo - 50/14 days. save 50 per dog. 40k relocations - 2 million 
## Maddie's fund - 200 per month, 100/14 days, 40k relocations - 4 million