In [2]:
import numpy as np
import pandas as pd
import json
from pandas.io.json import json_normalize

In [19]:
state_info = pd.read_csv('stats.csv')
state_pos = 31
current_state = state_info['state'][state_pos]
current_city = state_info['city'][state_pos]
current_state

'NY'

In [20]:
current_city

'New York'

In [4]:
alldogs = pd.read_csv('./data/alldogs_{}.csv'.format(current_state))

C:\anaconda_python\envs\Insight\lib\site-packages\IPython\core\interactiveshell.py:3051: DtypeWarning: Columns (35) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
readfile

'alldogs_AL'

In [5]:
alldogs

,id,organization_id,url,type,species,age,gender,size,coat,tags,...,contact.phone,contact.address.address1,contact.address.address2,contact.address.city,contact.address.state,contact.address.postcode,contact.address.country,_links.self.href,_links.type.href,_links.organization.href
0,2604949,NY114,https://www.petfinder.com/dog/lexie-2604949/ny...,Dog,Dog,Young,Female,Large,NaN,[],...,(212) 252-3183,P.O. Box 1345,Canal Street Station,New York,NY,10013,US,/v2/animals/2604949,/v2/types/dog,/v2/organizations/ny114
1,3821543,NY114,https://www.petfinder.com/dog/poipu-3821543/ny...,Dog,Dog,Adult,Female,Small,NaN,[],...,(212) 252-3183,P.O. Box 1345,Canal Street Station,New York,NY,10013,US,/v2/animals/3821543,/v2/types/dog,/v2/organizations/ny114
2,3924002,NY114,https://www.petfinder.com/dog/nellie-3924002/n...,Dog,Dog,Adult,Female,Small,NaN,[],...,(212) 252-3183,P.O. Box 1345,Canal Street Station,New York,NY,10013,US,/v2/animals/3924002,/v2/types/dog,/v2/organizations/ny114
3,4115299,NY114,https://www.petfinder.com/dog/kiko-4115299/ny/...,Dog,Dog,Adult,Male,Small,NaN,[],...,(212) 252-3183,P.O. Box 1345,Canal Street Station,New York,NY,10013,US,/v2/animals/4115299,/v2/types/dog,/v2/organizations/ny114
4,4127857,NY114,https://www.petfinder.com/dog/princess-4127857...,Dog,Dog,Senior,Female,Small,NaN,[],...,212-691-2053,P.O. Box 1345,Canal Street Station,New York,NY,10013,US,/v2/animals/4127857,/v2/types/dog,/v2/organizations/ny114
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89995,37886284,VA524,https://www.petfinder.com/dog/daisy-37886284/n...,Dog,Dog,Baby,Female,Small,Short,[],...,Please Email Us!,NaN,NaN,Madison,NJ,7940,US,/v2/animals/37886284,/v2/types/dog,/v2/organizations/va524
89996,37919613,VA524,https://www.petfinder.com/dog/willie-37919613/...,Dog,Dog,Young,Male,Small,Medium,[],...,Please Email Us!,NaN,NaN,Madison,NJ,7940,US,/v2/animals/37919613,/v2/types/dog,/v2/organizations/va524
89997,37926806,VA524,https://www.petfinder.com/dog/amber-37926806/n...,Dog,Dog,Young,Female,Medium,Short,[],...,Please Email Us!,NaN,NaN,Madison,NJ,7940,US,/v2/animals/37926806,/v2/types/dog,/v2/organizations/va524
89998,37935417,VA524,https://www.petfinder.com/dog/ensa-37935417/nj...,Dog,Dog,Baby,Female,Small,Short,[],...,Please Email Us!,NaN,NaN,Madison,NJ,7940,US,/v2/animals/37935417,/v2/types/dog,/v2/organizations/va524
89999,37935443,VA524,https://www.petfinder.com/dog/orochi-37935443/...,Dog,Dog,Baby,Male,Medium,Medium,[],...,Please Email Us!,NaN,NaN,Madison,NJ,7940,US,/v2/animals/37935443,/v2/types/dog,/v2/organizations/va524

In [6]:
alldogs.columns

Index(['id', 'organization_id', 'url', 'type', 'species', 'age', 'gender',
       'size', 'coat', 'tags', 'name', 'description', 'photos', 'status',
       'status_changed_at', 'published_at', 'distance', 'breeds.primary',
       'breeds.secondary', 'breeds.mixed', 'breeds.unknown', 'colors.primary',
       'colors.secondary', 'colors.tertiary', 'attributes.spayed_neutered',
       'attributes.house_trained', 'attributes.declawed',
       'attributes.special_needs', 'attributes.shots_current',
       'environment.children', 'environment.dogs', 'environment.cats',
       'contact.email', 'contact.phone', 'contact.address.address1',
       'contact.address.address2', 'contact.address.city',
       'contact.address.state', 'contact.address.postcode',
       'contact.address.country', '_links.self.href', '_links.type.href',
       '_links.organization.href'],
      dtype='object')

In [260]:
# in case index got into a column
# alldogs_reduced = alldogs.drop(['Unnamed: 0','type', 'species', 'description', 'photos', 'contact.email', 'contact.phone', 'contact.address.address1', 'contact.address.address2', 'contact.address.country', '_links.self.href', '_links.type.href', '_links.organization.href'], axis=1)
# alldogs_reduced.head()

,id,organization_id,url,age,gender,size,coat,tags,name,status,...,attributes.house_trained,attributes.declawed,attributes.special_needs,attributes.shots_current,environment.children,environment.dogs,environment.cats,contact.address.city,contact.address.state,contact.address.postcode
0,27586234,OR198,https://www.petfinder.com/dog/gracie-may-in-ct...,Adult,Female,Medium,Short,[],Gracie May in CT,adopted,...,True,NaN,False,True,NaN,False,False,Bridgeport,CT,6601
1,31832876,OR198,https://www.petfinder.com/dog/jellybean-in-ct-...,Adult,Female,Large,Short,[],Jellybean in CT,adopted,...,True,NaN,False,True,False,NaN,NaN,Bridgeport,CT,6601
2,33739003,OR198,https://www.petfinder.com/dog/stoney-in-ct-337...,Young,Male,Large,Short,[],Stoney in CT,adopted,...,True,NaN,True,True,False,NaN,False,Bridgeport,CT,6601
3,41326015,OR198,https://www.petfinder.com/dog/sam-in-ct-413260...,Adult,Male,Large,Short,[],Sam in CT,adopted,...,True,NaN,False,True,True,True,True,Bridgeport,CT,6601
4,43921870,OR198,https://www.petfinder.com/dog/sofia-in-ct-4392...,Young,Female,Extra Large,Short,"['Loving', 'smart']",Sofia in CT,adopted,...,True,NaN,False,True,NaN,False,NaN,Bridgeport,CT,6601

In [7]:
#normally
alldogs_reduced = alldogs.drop(['type', 'species', 'description', 'photos', 'contact.email', 'contact.phone', 'contact.address.address1', 'contact.address.address2', 'contact.address.country', '_links.self.href', '_links.type.href', '_links.organization.href'], axis=1)
alldogs_reduced.head()

,id,organization_id,url,age,gender,size,coat,tags,name,status,...,attributes.house_trained,attributes.declawed,attributes.special_needs,attributes.shots_current,environment.children,environment.dogs,environment.cats,contact.address.city,contact.address.state,contact.address.postcode
0,2604949,NY114,https://www.petfinder.com/dog/lexie-2604949/ny...,Young,Female,Large,NaN,[],Lexie,adopted,...,False,NaN,False,True,NaN,NaN,NaN,New York,NY,10013
1,3821543,NY114,https://www.petfinder.com/dog/poipu-3821543/ny...,Adult,Female,Small,NaN,[],Poipu,adopted,...,True,NaN,False,True,False,NaN,NaN,New York,NY,10013
2,3924002,NY114,https://www.petfinder.com/dog/nellie-3924002/n...,Adult,Female,Small,NaN,[],Nellie,adopted,...,True,NaN,False,True,False,False,False,New York,NY,10013
3,4115299,NY114,https://www.petfinder.com/dog/kiko-4115299/ny/...,Adult,Male,Small,NaN,[],Kiko,adopted,...,False,NaN,False,True,NaN,NaN,NaN,New York,NY,10013
4,4127857,NY114,https://www.petfinder.com/dog/princess-4127857...,Senior,Female,Small,NaN,[],Princess,adopted,...,True,NaN,False,True,NaN,NaN,NaN,New York,NY,10013

In [8]:
from datetime import datetime
def get_diff(end, start):
    end_d = datetime.strptime(end,"%Y-%m-%dT%H:%M:%S%z")
    start_d = datetime.strptime(start,"%Y-%m-%dT%H:%M:%S%z")
    if(end_d == start_d):
        return -1
    return (end_d - start_d).days

In [9]:
alldogs_reduced['adoption_time'] = alldogs_reduced.apply(lambda x: get_diff(x['status_changed_at'], x['published_at']), axis=1)
alldogs_reduced.head()

,id,organization_id,url,age,gender,size,coat,tags,name,status,...,attributes.declawed,attributes.special_needs,attributes.shots_current,environment.children,environment.dogs,environment.cats,contact.address.city,contact.address.state,contact.address.postcode,adoption_time
0,2604949,NY114,https://www.petfinder.com/dog/lexie-2604949/ny...,Young,Female,Large,NaN,[],Lexie,adopted,...,NaN,False,True,NaN,NaN,NaN,New York,NY,10013,1994
1,3821543,NY114,https://www.petfinder.com/dog/poipu-3821543/ny...,Adult,Female,Small,NaN,[],Poipu,adopted,...,NaN,False,True,False,NaN,NaN,New York,NY,10013,1725
2,3924002,NY114,https://www.petfinder.com/dog/nellie-3924002/n...,Adult,Female,Small,NaN,[],Nellie,adopted,...,NaN,False,True,False,False,False,New York,NY,10013,1703
3,4115299,NY114,https://www.petfinder.com/dog/kiko-4115299/ny/...,Adult,Male,Small,NaN,[],Kiko,adopted,...,NaN,False,True,NaN,NaN,NaN,New York,NY,10013,1625
4,4127857,NY114,https://www.petfinder.com/dog/princess-4127857...,Senior,Female,Small,NaN,[],Princess,adopted,...,NaN,False,True,NaN,NaN,NaN,New York,NY,10013,1660

In [10]:
bad_dates = len(alldogs_reduced[alldogs_reduced['adoption_time']==-1])
alldogs_reduced = alldogs_reduced[alldogs_reduced['adoption_time']!=-1]
bad_dates

4584

In [11]:
alldogs_reduced.duplicated().value_counts()

False    85059
True       357
dtype: int64

In [12]:
alldogs_reduced = alldogs_reduced.drop_duplicates()
alldogs_reduced.duplicated().value_counts()

False    85059
dtype: int64

In [13]:
alldogs_reduced = alldogs_reduced[alldogs_reduced['contact.address.state']==current_state]
len(alldogs_reduced)

52062

In [14]:
state_info.loc[state_pos , 'total'] = len(alldogs_reduced)

In [40]:
#storing statistics to stats csv file

In [21]:
alldogs_reduced_city = alldogs_reduced[alldogs_reduced['contact.address.city'] == current_city]
len(alldogs_reduced_city)

15988

In [18]:
alldogs_reduced['contact.address.city'].value_counts()

New York            15988
Staten Island        6022
Brooklyn             5965
Island Park          4081
Long Beach           3762
Yonkers              2437
Flushing             2271
Nyc                  2184
Ozone Park           1867
East Rockaway        1787
Manhasset             909
Port Washington       887
Mt. Vernon            671
Manhattan             543
New Hyde Park         442
Astoria               379
Valley Stream         358
Old Westbury          316
Glendale              273
Long Island City      217
Bronx                 209
Oakland Gardens       137
Far Rockaway           82
Roslyn                 43
Forest Hills           37
Garden City            36
Woodside               35
South Ozone Park       30
Fresh Meadows          20
Rego Park              10
Ridgewood               9
Middle Village          9
garden city park        6
Jamaica                 6
Malverne                4
new Hyde Park           4
BROOKLYN                3
Bronxville              2
Jackson Heights         2
Whitestone              2
New Rochelle            2
Douglaston              2
FAR ROCKAWAY            1
Mount Vernon            1
yonkers                 1
Tuckahoe                1
ELMONT                  1
Uniondale               1
Rockville Center        1
bronx                   1
Hewlett                 1
Pelham                  1
Eastchester             1
Flushing                1
Rockaway Park           1
Name: contact.address.city, dtype: int64

In [22]:
state_info.loc[state_pos , 'total_correct_city'] = len(alldogs_reduced_city)

In [23]:
state_info.loc[state_pos , 'max_dist'] = alldogs_reduced['distance'].max()

In [24]:
state_info.loc[state_pos , 'max_dist_city'] = alldogs_reduced_city['distance'].max()

In [25]:
state_info.loc[state_pos , 'bad_dates'] = bad_dates

In [26]:
export = state_info.to_csv('stats.csv', header=True, index=False)

In [27]:
export = alldogs_reduced.to_csv('./data/alldogs_reduced_{}.csv'.format(current_state), header=True, index = False)
export = alldogs_reduced_city.to_csv('./data/alldogs_city_{}.csv'.format(current_state), header=True, index = False)